@import "tailwindcss";

:root {
  --background: #F0F8FF;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes flow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-flow {
  animation: flow 4s ease-in-out infinite;
}

.animate-flow-delayed {
  animation: flow 4s ease-in-out infinite;
  animation-delay: 2s;
}
